.container {
  margin-top: 1rem;
}

.mat-title {
  display: flex;
  justify-content: center;
}

.city-country {
  margin-top: 0.25rem;
}

.right {
  text-align: right;
}

.image {
  zoom: 250%;
}

.temperature {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  font-size: 3.5rem;
}

.center {
  font-size: 1rem;
}

.no-margin {
  margin-bottom: 0;
}
